---
import EventCard from "../../components/EventCard.astro";
import Socials from "../../components/Socials.astro";
import If from "../../components/utils/If.astro";
import { DATA } from "../../data/data";
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  return DATA.speakers.map((_, index) => ({
    params: { speaker: index },
  }));
}

const { speaker } = Astro.params;

const speakerData = DATA.speakers[Number(speaker)];

const events = DATA.events.filter((event) =>
  event.speakers.includes(speakerData.name as any)
);
---

<Layout
  title={`${speakerData.name} | ${DATA.title}`}
  description={speakerData.descriptionParagraphs.join(" ")}
  lang="es"
>
  <main class="flex flex-col gap-6 min-h-screen">
    <aside class="bg-green-50 dark:bg-blue-800">
      <div
        class="container grid grid-cols-1 lg:grid-cols-[1fr_4fr] gap-12 md:gap-32 w-full"
      >
        <section class="w-80 flex-grow flex flex-col gap-6 mx-auto">
          <img
            class="rounded-md border-8 border-green-600 dark:border-blue-600"
            src={speakerData.picture}
            alt={`Picture of ${speakerData.name}`}
          />
          <Socials socials={speakerData.socials} />
        </section>
        <div class="flex flex-col gap-4">
          <h1 class="text-6xl md:text-8xl font-bold">{speakerData.name}</h1>
          <h3 class="text-2xl font-semibold text-orange-800">
            {speakerData.position}
          </h3>
          <div class="flex flex-col gap-4 text-xl">
            {
              speakerData.descriptionParagraphs.map((descPar) => (
                <p>{descPar}</p>
              ))
            }
          </div>
        </div>
      </div>
    </aside>
    <section
      class="grid grid-cols-1 lg:grid-cols-2 p-2 pb-10 md:pb-20 md:p-20 gap-6"
    >
      <If condition={!!events.length}>
        {events.map((event) => <EventCard event={event} />)}
      </If>
    </section>
  </main>
</Layout>
