---
import { DATA } from "../data/data";
import If from "./utils/If.astro";
---

<footer
  class="px-6 flex flex-col-reverse lg:grid lg:grid-cols-[1fr_3fr_1fr] gap-10 bg-green-50 dark:bg-blue-900 text-dark-background dark:text-light-background p-10 text-center"
>
  <div class="grid grid-cols-1 place-content-center">
    <div class="w-full max-w-[250px] md:max-w-[300px] mx-auto">
      <a href="/#top" class="h-10">
        <img
          loading="lazy"
          src="/logo.svg"
          alt=`Logo of Biznagafest`
          class="brightness-100 dark:invert"
        />
      </a>
    </div>
    <span class="font-thin text-sm">&copy; {DATA.title}</span>
  </div>
  <div class="flex flex-row gap-6 align-middle justify-center flex-wrap">
    {
      DATA.footerLinks.map((link) => (
        <a
          class="grid grid-cols-1 place-content-center font-semibold"
          href={link.href}
        >
          {link.title}
        </a>
      ))
    }
  </div>
  <If condition={!!DATA.previousEditions.length}>
    <div class="flex flex-col gap-6 w-fit mx-auto">
      <h6 class="text-center lg:text-left font-semibold text-lg">
        Previous Editions
      </h6>
      <ul
        class="flex flex-row flex-wrap gap-3 align-middle justify-center md:justify-start"
      >
        {
          DATA.previousEditions.map((prevEd) => (
            <li>
              <a href={prevEd.url}>{prevEd.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </If>
</footer>
