---
import type { Speaker } from "../data/data.type";
import If from "./utils/If.astro";
interface Props {
  speaker: Speaker;
  index: number;
}

const { speaker, index } = Astro.props;
---

<div
  class="flex flex-col align-middle justify-center lg:grid lg:grid-cols-[2fr_3fr] lg:gap-5 mx-auto"
>
  <a href={`/speaker/${index}`} class="w-[200px] h-[200px] mx-auto">
    <img
      loading="lazy"
      src={speaker.picture}
      alt=`Picture of ${speaker.name}`
      class="object-cover select-none mx-auto shadow-md rounded-full aspect-square w-[200px] h-[200px]"
      style="-webkit-user-drag: none;"
    />
  </a>
  <div
    class="flex flex-col align-middle justify-center gap-1 md:gap-3 py-[0px] text-center lg:text-left"
  >
    <h3 class="text-2xl font-bold">{speaker.name}</h3>

    <If condition={speaker.position !== undefined}>
      <span class="text-sm">{speaker.position}</span>
    </If>
  </div>
</div>
