---
import type { Speaker } from "../data/data.type";
import If from "./utils/If.astro";
interface Props {
  speaker: Speaker;
  index: number;
}

const { speaker, index } = Astro.props;
---

<div
  class="flex flex-col align-middle justify-center lg:grid lg:grid-cols-[2fr_3fr] lg:gap-5 mx-auto"
>
  <a href={`/speaker/${index}`}>
    <img
      loading="lazy"
      src={speaker.picture}
      alt=`Picture of ${speaker.name}`
      class="object-cover select-none mx-auto
        border-4 md:border-8 border-blue-600 dark:border-green-600 shadow-md rounded-full aspect-square max-w-[200px]"
      style="-webkit-user-drag: none;"
    />
  </a>
  <div
    class="flex flex-col align-middle justify-center gap-3 py-[0px] text-center lg:text-left"
  >
    <h4 class="text-2xl font-bold">{speaker.name}</h4>

    <If condition={speaker.position !== undefined}>
      <span class="text-sm">{speaker.position}</span>
    </If>
  </div>
</div>
