---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Notice from "../components/Notice.astro";
import If from "../components/utils/If.astro";
import { DATA } from "../data/data";

export interface Props {
  title: string;
  lang: string;
  description: string;
}

const { title, lang, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Animate.css CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!-- Font Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @font-face {
        font-family: "Manrope";
        src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf")
          format("truetype");
      }

      * {
        box-sizing: border-box;
        font-family: "Manrope";
      }

      .activeRoute {
        @apply text-green-400 dark:text-blue-400;
      }

      .wrapper {
        @apply md:w-8/12 md:mx-auto pt-16 pb-28 md:pt-32 md:pb-52;
      }
    </style>
  </head>
  <body
    class="bg-light-background dark:bg-dark-background text-dark-background dark:text-light-background"
  >
    <If condition={DATA.welcomeBanner.isEnabled}>
      <Notice>
        <div class="bg-blue-100 dark:bg-green-900">
          <div class="wrapper px-6 flex flex-col gap-10">
            <h3 class="text-xl sm:text-2xl md:text-4xl font-bold text-center">
              ✨¡Hola a todos los asombrosos asistentes del BiznagaFest 2023!✨
            </h3>

            <div class="flex flex-col gap-5 text-lg">
              <p>
                ¡La emoción está en el aire y el evento está en pleno apogeo!
                Estamos viendo charlas inspiradoras, participando en talleres
                innovadores y construyendo conexiones increíbles en este
                epicentro de tecnología.
              </p>
              <p>
                ¿Pero sabes qué es aún más emocionante? La próxima edición del
                BiznagaFest. Sí, lo has oído bien. La diversión no termina aquí.
                La próxima edición será aún más grandiosa, con conferencias aún
                más fascinantes, talleres aún más interactivos y oportunidades
                de networking aún más valiosas.
              </p>
              <p>
                ¿Por qué esperar? Asegura tu lugar para el próximo BiznagaFest
                ahora mismo. No te pierdas la oportunidad de ser parte de este
                viaje increíblemente enriquecedor en el mundo de la tecnología.
              </p>
              <p class="font-semibold">
                ¡Compra tus entradas ahora y prepárate para un futuro lleno de
                innovación y descubrimientos en el BiznagaFest del próximo año!
                ¡Nos vemos allí! 🚀
              </p>
            </div>

            <a
              target="_blank"
              title="Comprar entradas"
              class="text-light-background bg-blue-600 hover:bg-blue-400 dark:bg-green-600 dark:hover:bg-green-400 w-fit px-5 py-2 rounded-md transition-colors"
              href="https://www.eventbrite.es/e/entradas-biznagafest-2024-742690716927?aff=oddtdtcreator"
              >Comprar entradas</a
            >
          </div>
        </div>
      </Notice>
    </If>
    <div class="overflow-hidden min-h-screen flex flex-col justify-between">
      <div>
        <Navigation />
        <slot />
      </div>
      <Footer />
    </div>
    <script>
      const html = document.documentElement;
      if (!!localStorage.getItem("dark")) {
        html.classList.add("dark");
      }

      const animations = [...document.querySelectorAll(".animate")];
      const callback = (
        entries: IntersectionObserverEntry[],
        observer: IntersectionObserver,
      ) => {
        entries.forEach((entry: IntersectionObserverEntry) => {
          let animationClasses = (
            entry.target.getAttribute("data-animation") ?? ""
          ).split(" ");

          if (entry.isIntersecting) {
            if (
              !entry.target.getAttribute("data-animation-repeat") &&
              entry.target.getAttribute("data-animation-repeated")
            ) {
              observer.unobserve(entry.target);
              return;
            }
            entry.target.setAttribute("data-animation-repeated", "true");
            animationClasses.forEach((className: any) => {
              entry.target.classList.add(className);
            });
            if (entry.target.classList.contains("invisible")) {
              entry.target.classList.remove("invisible");
            }
          } else if (
            !entry.isIntersecting &&
            entry.boundingClientRect.top > 0
          ) {
            animationClasses.forEach((className: any) => {
              entry.target.classList.remove(className);
            });
          }
        });
      };

      const observer = new IntersectionObserver(callback, {
        rootMargin: "200px 0px",
      });

      animations.forEach((animation) => observer.observe(animation));
    </script>
  </body>
</html>
